@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: "Poppins", sans-serif;
    
}

body {
    background-color: rgb(43, 110, 253, 90%);
}

.terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 65px;
    color: white;
    font-size: 1.5rem;
}

.card {
    background-color: rgb(43, 110, 253, 90%);
    padding: 10px;
    display: flex;
}

.geral{
    width: 300px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid green;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.title {
    display: flex;
    height: 30px;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    border: 4px solid green;
}

.descricao {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.desc{
    display: flex;
    color: green;
    font-size: 0.8rem;
}
.desc span {
    display: flex;
    padding-top: 3px;
    margin-left: 5px;
    
}

.descricao h2 {
    font-size: 0.8rem;
    color: green;
    padding-top: 3px;
    
}

.icon {
    display: flex;
    color: green;
    margin-left: auto;
    justify-content: center;
    font-size: 1.8rem;
    
}

.icon i {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
}

/*########################################*/

.um  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.um .icon {
    font-size: 2rem;
    color: blueviolet;
}
   